
body{
  background: black url("../images/bg2.jpg");
  width: 960px;
  margin: 5px auto;
  text-align: center;
}

#header {
  padding:0px;
  position: relative;
  hight:100%;
  color: yellow;
  margin: 150px 10px 10px 0px;

}

h1 {
  height: 100px;
}

li {
  display: inline;
  border: 1px solid yellow;
  text-align: center;
  positon: fixed;
  top: 50px;
  left: 50px;
  padding: 5px;
  margin: 15px;
  width: 50%;
  margin-top: 5px;
}

p.paragraph {
  margin: 0px auto;
  text-align: center;
  display: inline;
}

table {
  margin: 200px 5px 2px auto;
}
